---
import Layout  from '@layouts/Layout.astro';
import blogs from '@data/Blogs.json';
import { getCollection } from 'astro:content';

console.log("kajsdlfkjas")
const posts = await getCollection('blog', ({data}) => {
    console.log("asdlkfjasdf", data);
    return !data.draft;
});
console.log("kajsdlfkjas")
---

<Layout>
    <section class="pageSection">
        <div class="pageMain">
            <div class="pageHead">
                &gt MY BLOGS &gt <br><br>
            </div>
            <ul>
                {posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}`}>
                        <div class="workName">&gt {post.data.title} &gt</div>
                        <div class="workDescription">{post.data.description}</div>
                    </a>
                </li>
                ))}
            </ul>
        </div>
    </section>
</Layout>

<style>
section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

ul li{
    width: 100%;
    padding: 0.5rem;
    transition: 0.3s ease;
}

ul li a .workName{
    text-decoration: underline;
}
ul li a .workDescription {
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul li:hover {
    outline: 1px solid var(--secondaryWhiteDim);
    background-color: var(--secondaryWhiteDim);
}
</style>
