<section>
    <div class="profileImg imgContent"></div>
    <div class="ProfileDescription">some Description</div>
</section>

<style>
section {
    min-height: 50vh;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.imgContent{
    width: 300px;
    aspect-ratio: 1;
    background: url('/testPic.png');
    background-size: contain;
    background-repeat: no-repeat;
}
</style>
