.pageHead{
    color: #BEBEBE;
    text-shadow: 0 0 3px #AAAAAA;
    font-weight: bolder;
}

.pageMain{
    border-right: 1px solid var(--secondaryWhiteDim);
    border-left: 1px solid var(--secondaryWhiteDim);
    width: 100%;
    padding: 1rem;
    height: min(80vh, 864px);
    overflow: scroll;
}

.pageSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--secondary);
}
