@import url('https://fonts.googleapis.com/css2?family=Estonia&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
    /* COLORS */
    --secondary : #000000;      /* BLACK */
    --secondaryWhite : #AAAAAA; /* WHITE */
    --secondaryWhiteDim : #404040;
    --primaryRed : #c9a1a1;

    /* FONT FAMILY */
    --font : "JetBrains Mono", monospace;
    --fancy_font : "Estonia", cursive;

    /* FONT SIZE */
    --normalBody : clamp(1rem, calc(1rem + 0.1vw), 1.4rem);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--secondaryWhite);
    font-family: var(--font);
    font-size: var(--normalBody);
    letter-spacing: 0.1ch;
}

li {
    list-style-type: none;
}

h1{
    font-size: var(--h1Font);
}

h2{
    font-size: var(--h2Font);
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}
