@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Quicksand:wght@300..700&display=swap');
:root {
    /* COLORS */
    --primary   : #FF2F6A;      /* RED */
    --secondary : #282828;      /* BLACK */
    --secondaryWhite : #B8B8B8; /* WHITE */
    --primaryAccent : #07D5BD;  /* CYAN */

    /* FONT FAMILY */
    --fancyFont : "Lacquer", system-ui;
    --quickFont : "Quicksand", sans-serif;

    /* FONT SIZE */
    --smallBody : 1rem;
    --normalBody : clamp(1rem, calc(1.2rem + 0.1vw), 2rem);

    --h1Font : clamp(2rem, calc(2rem + 3vw), calc(4rem));
    --h2Font : clamp(1.2rem, calc(1rem + 1vw), 3rem);
    --h3Font : 3rem;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--secondaryWhite);
    font-family: var(--quickFont);
    font-size: var(--normalBody);
    letter-spacing: 0.1ch;
}

li {
    list-style-type: none;
}

h1{
    font-size: var(--h1Font);
}

h2{
    font-size: var(--h2Font);
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}
@font-face {
    font-family: "pixelify";
    font-weight: normal;
    src: url("/fonts/pixelify_sans/PixelifySans-Regular.ttf");
}
