<a href="/">
    <div id="logo" />
</a>

<style>
    #logo {
        width: min(10vw, 192px);
        background-image: url("/myself.webp");
        /*overflow: hidden;*/
        aspect-ratio: 1;background-size: cover; /* or 'contain' */
          background-repeat: no-repeat;
          background-position: center;
    }
</style>
