<div id="logo">
    <a href="/" class="authorFancyFont">
        Aayush <span>Lamsal</span>
    </a>
</div>

<style>
    #logo a{
        transition: width 0.5s ease;
        width: 4.5ch;
        display: flex;
        gap: 0.2rem;
        overflow-x: hidden;
    }

    #logo a:hover{
        width: 12ch;
        cursor: none;
    }

    #logo span{
        border-radius: 0.3rem;
        padding: 0 0.3rem;
        color:            var(--secondary);
        background-color: var(--primary);
        font: var(--fancyFont);
    }
</style>
