---
import Layout  from '@layouts/Layout.astro';

if (Astro.request.method == "POST") {
    try {
        const data = await Astro.request.formData();
        const message = data.get("message");

    } catch (error) {}
}
---

<Layout>
    <section class="pageSection">
        <div class="pageMain">
            <div class="pageHead">
                &gt CONTACT ME &gt <br><br>
            </div>
            <form action="POST">
                <textarea name="message" id="contact_me" placeholder="type your message here ..."></textarea>
                <button type="submit"> Send </button>
            </form>
        </div>
    </section>
</Layout>

<style>
.pageMain form{
    display: flex;
    flex-direction: column;
    width: min(50%, 700px);
    gap: 0.5rem;
    tab-in
}
.pageMain form textarea{
    border: none;
    background-color: var(--secondary);
    width: 100%;
    aspect-ratio: 1;
    outline: 1px solid var(--secondaryWhiteDim);
    padding: 1rem;
}

.pageMain form button{
    background-color: var(--secondary);
    outline: 2px solid var(--secondaryWhiteDim);
    padding: 0.5rem;
    transition: 0.3s ease;
    border: none;
}
.pageMain form button:hover{
    color: #BEBEBE;
    text-shadow: 0 0 3px #AAAAAA;
    outline: 1px solid var(--secondaryWhiteDim);
    background-color: var(--secondaryWhiteDim);
}
.pageMain form button:focus{
    color: #BEBEBE;
    text-shadow: 0 0 3px #AAAAAA;
    background-color: var(--secondaryWhiteDim);
}
</style>
