---
import Layout  from '@layouts/Layout.astro';
---

<Layout>
    <section class="pageSection">
        <div class="pageMain">
            <div class="pageHead">
                &gt SKILLS &gt <br><br>
            </div>
            &gt Programming Languages &gt <br>
                &nbsp &gt Js <br>
                &nbsp &gt HTML <br>
                &nbsp &gt CSS <br>
                &nbsp &gt c++ <br>
                &nbsp &gt c<br>
                &nbsp &gt rust<br>
                &nbsp &gt python<br>
                &nbsp &gt SQL<br>
                &nbsp &gt Gdscript<br>
                &nbsp &gt Flutter <br><br>
            &gt Tools &gt<br>
                &nbsp &gt Git <br>
                &nbsp &gt Blender <br>
                &nbsp &gt Krita <br>
                &nbsp &gt Figma <br>
                &nbsp &gt Godot <br><br>
            &gt Frameworks &gt<br>
                &nbsp &gt React <br>
                &nbsp &gt Next <br>
                &nbsp &gt Astro <br>
        </div>
    </section>
</Layout>

<style>
</style>
