<div id='person_select_container'>
    <div id="mode_select"></div>
    <div class="person_mode" id="active" data-tag="programming">Developer</div>
    <div class="person_mode" data-tag="art">Artist</div>
</div>

<style>
    #person_select_container{
        position: relative;
        padding: 0.5rem;
        display:         flex;
        justify-content: center;
        align-items:     center;
        gap: 1rem;
        z-index: 15;
        cursor: none;
    }

    .person_mode{
        color: var(--primaryAccent);
        padding: 0.5rem 1rem 0.5rem 1rem;
        cursor: pointer;
        z-index: 2;
        font-family: var(--fancyFont);
        font-size: 1rem;
        cursor: none;
        transition: 0.3s ease;
    }

    .person_mode:not(#active):hover{
        color: var(--primary);
        outline: 2px solid var(--primaryAccent);
    }

    #active{
        color: var(--secondary);
    }

    #mode_select{
        position: absolute;
        border-radius: 0.3rem;
        background-color: var(--primaryAccent);
        transition: 0.4s ease;
        z-index: 1;
        cursor: none;
    }
</style>
