---
import Logo    from '@components/logo/Logo.astro';
import Personmode from '@components/personMode/Personmode.astro';
---

<nav>
    <Logo />
    <div id="navItems">
        <Personmode />
    </div>
</nav>

<style>
    nav {
        position: sticky;
        top: 0px;
        padding: 0rem 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
</style>
