---
import overlay_img from '@public/screen_overlay.png';
---

<section>
    <div>
        <div id="bufferImage" class="borderClass"></div>
        <div class="subContainer">
            <div id="homeContent" class="borderClass">
                <b>Software Developer</b>
                <div class="lineBreak"></div>
                <div id="myStacks">
                    Html Css Javascript Rust Python C C++ Blender Godot React Nextjs Astro Html Css Javascript Rust Python C C++ Blender Godot React Nextjs Astro Html Css Javascript Rust Python C C++ Blender Godot React Nextjs Astro
                </div>
            </div>
            <div class="tertContainer">
                <div id="works" class="tertClass borderClass">
                    Works
                </div>
                <div id="about" class="tertClass borderClass">
                    Hello, I am Aayush Lamsal. I am an <span>software developer</span> from Nepal, always trying out new stuffs.
                    <br>
                    Check out my works, hobbies and stuffs here...
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    :root{
        --primaryColorTile: #A64C44;
        --secondaryColorTile: #658963;
        --tertiaryColorTile: #969696;
    }
    *{
        color: var(--secondary);
    }
    section{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 1rem;
    }
    section>div{
        width: calc(100vw - 3rem);
        height: calc(100vh - 1.5rem - 1.5lh);
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    #bufferImage{
        width: 30%;
        height: 100%;
        background-image: url("/bufferBackground.jpg");
        background-size: cover;
        filter: saturate(0.1);
    }
    #bufferImage:hover{
        filter: saturate(0.4);
    }

    .subContainer{
        width: 70%;
        height: 100%;
        /* border-radius: 0.5rem; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #homeContent{
        position: relative;
        width: 100%;
        height: 50%;
        background-color: var(--primaryColorTile);
        background-image:
            linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
            url("/Artworks/feel.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: saturate(0.5) brightness(0.8);
    }
    #myStacks{
        position: absolute;
        bottom: 0;
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
        animation: scroll 5s linear infinite;
        color: var(--primary);
    }

    .tertContainer{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .tertClass{
        width:  100%;
        height: 100%;
    }

    #works{
        width: 50%;
        background-color: var(--secondaryColorTile);
        background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
        url("/Artworks/afro.webp");
        background-position: center;
        filter: saturate(0.5) brightness(0.8);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-size: 5rem;
        color: var(--primary);
    }

    #works:hover{
        filter: saturate(1) brightness(1);
    }

    #about{
        width: 50%;
        height: 100%;
        background-color: var(--secondary);
        color: var(--primary);
        text-align: justify;
    }
    #about span{
        color: var(--primaryColorTile);
    }
    .borderClass{
        border-radius: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    .lineBreak{
        width: 100%;
        height: 2px;
        background-color: var(--secondary);
    }

    @keyframes scroll{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-138%);
        }
    }
</style>
