<div id="logo">
    Aayush <span>Lamsal</span>
</div>

<style>
    #logo{
        position : fixed;
        top: 1.5rem;
        left: 1.5rem;
        width: 6ch;
        display: flex;
        gap: 0.2rem;
        color: var(--primary);
        z-index: 5;
        overflow-x: hidden;
        transition: width 0.5s ease;
    }
    #logo:hover{
        width: calc(12ch + 0.6rem);
    }
    #logo span{
        padding: 0 0.3rem;
        color: var(--secondary);
        background-color: var(--primary);
    }
</style>
