---
import "@styles/workcard.css";
---

<div id="render_works_container">
</div>

<style>
    #render_works_container{
        max-width: calc(100vw - 4rem);
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>
