---
import Personmode from '@components/Personmode.astro';
import Renderworks from '@components/Renderworks.astro';
---
<section>
    <Personmode />
    <meta id="work_tag" data-tag="programming"></meta>
    <Renderworks/>
</section>

<style>
    section{
        position: relative;
        margin-top: 3rem;
        width  : 100vw;
        height : 100vh;
    }
</style>
