<section>
    WORKS
    <meta id="work_tag"></meta>
    <div id="render_works_container"> </div>
</section>

<style>
    section{
        position: relative;
        margin-top: 3rem;
        width  : 100%;
        height: 100vh;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        font-size: var(--h3Font);
        font-weight: bolder;
    }

    #render_works_container{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        border-radius: 2rem;
        flex-wrap: wrap;
    }
</style>
