---
import styles from "@components/footer/Footer.module.css";
---

<footer>
    <div class={styles.footerLinks}>
        <ul>
            <li> <a href="https://github.com/Asur-zx"> <img src="/icons/github.svg" alt="github icon"> </a> </li>
            <li> <a href="/"> <img src="/icons/linkedin.svg" alt="linkedin icon"> </a> </li>
            <li> <a href="https://www.instagram.com/iyushlamsal/"> <img src="/icons/instagram.svg" alt="instagram icon"> </a> </li>
            <li> <img src="/icons/mail.svg" alt="gmail icon"> lamsal.aayush9115 </li>
        </ul>
    </div>
    <div class:list={[styles.footerMData, "authorFancyFont"]}>
        Aayush Lamsal
    </div>
</footer>
