footer{
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: red; */
}

.footerLinks{
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.footerLinks ul{
    display: flex;
}
.footerLinks li{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    transition: 0.3s ease;
}
.footerlinks li:hover{
    outline: 2px solid var(--primary);
}
.footerMData{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    font-size: var(--smallBody);
}
