<div id="customCursor"></div>

<style>
    #customCursor{
        position: fixed;
        color: var(--primary);
        /* font-family: var(--fancyFont); */
        pointer-events: none;
        font-weight: bold;
        z-index: 1000;
    }
</style>
