---
import "@styles/global.css";
import "@styles/freqStyles.css";
import Navbar  from '@components/navbar/Navbar.astro';
import Cursor from "@components/cursor/Cursor.astro";
import Connect from "@components/connect/Connect.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aayush Lamsal</title>
	</head>
	<body>
	    <Cursor />
		<Navbar />
		<slot />
		<Connect />
	</body>
</html>

<style>
	html {
		margin: 0;
		padding: 0;
		max-width: 100vw;
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		/*cursor: none;*/
	}
	body {
	    background-color: var(--secondary);
        width: min(80vw, 1920px);
        height: min(100vh, 1080px);
        display: flex;
        justify-content: center;
        /*align-items: center;*/
    }
    @media screen and (max-width: 1000px) {
      body {
          display: flex;
          flex-direction: column;
      }
    }
</style>
