---
import "@styles/global.css";
import "@styles/freqStyles.css";
import Navbar  from '@components/navbar/Navbar.astro';
import Cursor from "@components/cursor/Cursor.astro";
import Footer from "@components/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aayush Lamsal</title>
	</head>
	<body>
	    <Cursor />
	    <Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100vw;
		background-color: var(--secondary);
		cursor: none;
	}
	body{
	    position: relative;
	    background-image: url("/background.png");
	    background-size: cover;
	    background-position: center;
					background-repeat: no-repeat;
		background-attachment: fixed;
		z-index: 0;
	}
	body::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.78);
        background-attachment: fixed;
        z-index: -1;
	}
</style>
