---
import "@styles/global.css";
import "@styles/freqStyles.css";
import Navbar  from '@components/navbar/Navbar.astro';
import Cursor from "@components/cursor/Cursor.astro";
import Footer from "@components/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aayush Lamsal</title>
	</head>
	<body>
        <div id="main">
            <Cursor />
	    <Navbar />
		<slot />
		<Footer />
        </div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
	}
	body {
        display: flex;
        justify-content: center;
        background-color: var(--secondary);
	}
	#main{
	    width: min(100vw, 1920px);
		background-color: var(--secondary);
	    position: relative;
		z-index: 0;
		cursor: none;
	}
	#main::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url("/background.png");
	    background-size: cover;
	    background-position: center;
					background-repeat: no-repeat;
		background-attachment: fixed;
		opacity: 0.13;
        z-index: -1;
	}
</style>

<script src = "@scripts/layout.ts"> </script>
